.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: #dcdcdc;
}

.toolbar {
    display: flex;
    align-items: center;
    padding: 4px 6px;
    gap: 8px;
    border-bottom: 1px solid #808080;
    background-color: #dcdcdc;
    box-shadow: inset 1px 1px #fff;
}

.buttonGroup {
    display: flex;
    gap: 2px;
}

.addressBar {
    flex: 1;
}

.addressBar input {
    width: 100%;
    font-size: 12px;
    padding: 3px 6px;
}

.content {
    flex: 1;
    background-color: #fff;
    margin: 2px;
    box-shadow: inset -1px -1px #fff, inset 1px 1px #808080, inset -2px -2px #dfdfdf, inset 2px 2px #0a0a0a;
    position: relative;
}

.iframe {
    width: 100%;
    height: 100%;
    border: none;
    background-color: #fff;
}

.status {
    display: flex;
    align-items: center;
}